<div class="knob-control" (mousedown)="startRotation($event)">
  
    <!-- Rotating part: the white circle + orange indicator -->
    <div class="knob-rotating" [style.transform]="'rotate(' + angle + 'deg)'">
      <div class="knob">
        <div class="knob-indicator"></div>
      </div>
    </div>
    
    <!-- Zero position dot -->
    <div class="zero-dot" [class.active]="isAtZero"></div>
    
    <!-- Non-rotating corners (absolutely positioned) -->
    <div class="corner top-left"></div>
    <div class="corner top-right"></div>
    <div class="corner bottom-left"></div>
    <div class="corner bottom-right"></div>
  
    <div class="knob-label">{{ label }}</div>
  </div>  <!-- End of knob-control -->
  <!-- Tooltip -->
  <div *ngIf="showTooltip" class="knob-tooltip" [ngStyle]="{'left.px': tooltipX, 'top.px': tooltipY}">
    {{ displayValue | number:'1.0-0' }}
  </div>
  