<div #panelContainer>
  <div class="color-container">
    <div
      *ngFor="let color of colors; let i = index"
      class="color-swatch"
      [ngStyle]="{'background-color': color}"
      (click)="openPickerAt(i)">
    </div>
  </div>

  <div *ngIf="showColorPicker" class="inline-color-picker">
    <input
      type="color"
      [value]="editingColor"
      (change)="onColorPickerChange($event)" />
    <input
      type="text"
      class="hex-input"
      [value]="editingColor"
      (input)="onHexInputChange($event)"
      maxlength="7"
      placeholder="#RRGGBB" />
  </div>
</div>
