<div class="color-container">
    <!-- Up to 5 color circles -->
    <div class="color-swatch" style="background-color: #0D2E70;"></div>
    <div class="color-swatch" style="background-color: #4A6373;"></div>
    <div class="color-swatch" style="background-color: #5E97B8;"></div>
    <div class="color-swatch" style="background-color: #8AB9D8;"></div>
    <div class="color-swatch" style="background-color: #124E8F;"></div>
  
    <!-- Plus button to add a new color -->
    <div class="color-swatch add-color">+</div>
</div>