<div class="app-container" [class.sidebar-is-hidden]="!sidebarVisible">
  <button class="sidebar-toggle-btn" (click)="toggleSidebar()" aria-label="Toggle sidebar">
    <img src="arrow-left.svg" *ngIf="sidebarVisible">
    <img src="arrow-right.svg" *ngIf="!sidebarVisible">
  </button>
  <button class="fullscreen-btn" (click)="toggleFullscreen()" aria-label="Toggle fullscreen">
    <img src="expand.svg" *ngIf="!isFullscreen" width="20px" height="20px">
    <img src="shrink.svg" *ngIf="isFullscreen">
  </button>
  <app-webgl    [settings]="currentSettings"></app-webgl>
  <app-sidebar 
    [class.sidebar-hidden]="!sidebarVisible"
    (settingsChange)="updateSettings($event)">
  </app-sidebar>
</div>
