<div class="slider">
    <div class="slider-track">
      <div class="slider-path"></div>
  
      <!-- Draggable knob -->
      <div 
        class="slider-knob" 
        (mousedown)="startDrag($event)" 
        [style.top]="knobPosition + '%'"
      ></div>
  
      <!-- Fixed corner dots -->
      <div class="corner top-left"></div>
      <div class="corner top-right"></div>
      <div class="corner bottom-left"></div>
      <div class="corner bottom-right"></div>
    </div>
  
    <div class="slider-label">{{ label }}</div>
  </div>
  