<div class="sidebar-header">
  <!-- <img class="close-icon" src="close_sidebar.svg" alt="Project Logo" width="15px"/> -->
  <img src="pulse-pulse-logo.svg" alt="Project Logo" class="logo" width="120px"/>
  <span class="project-name">Untitled</span>
</div>

<div class="sidebar-header">
  <div class="input-header">
    <a>Input</a>
    <div class="status"></div>
  </div>
  
  <select class="dropdown-selector">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
</div>


<div class="sidebar-header-sub">Colors</div>
<app-colors-panel></app-colors-panel>

<div class="sidebar-header-sub">Color Effects</div>

<div class="knob-container">
  <!-- Knob 1 -->
  <app-medium-knob></app-medium-knob>
  <!-- Knob 2 -->
  <app-medium-knob></app-medium-knob>
  <!-- Knob 3 -->
  <app-medium-knob></app-medium-knob>
</div>

<div class="sidebar-header-sub">
  <div class="input-header">
    <a> Color Filter </a>
    <!-- <div class="status"></div> -->
  </div>
  
  <select class="dropdown-selector">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
</div>

<div class="sidebar-header-sub"> Shape & Geometry Effects </div>
<div class="shape-geometry-container">
  <div class="knobs-grid">
    <app-small-knob></app-small-knob>
    <app-small-knob></app-small-knob>
    <app-small-knob></app-small-knob>
    <app-small-knob></app-small-knob>
    <app-small-knob></app-small-knob>
    <app-small-knob></app-small-knob>
  </div>
  <app-rythm-bar></app-rythm-bar>
  <app-master-knob></app-master-knob>
</div>


<div class="sidebar-header-sub"> Noise Deformation </div>

<div class="sidebar-header-sub"> Motion & Temporal Effects </div>

<div class="sidebar-header-sub"> Fractal & Kaleidoscopic Effects </div>

<div class="sidebar-header-sub"> Texture & Special Effects </div>

<div class="sidebar-header-sub"> Spectrum & Amplitude </div>


